body {
	background-repeat: repeat;
	background-image:
		url('https://www.cryptokitties.co/images/pattern-tile.svg')
}

.container-fluid.maincontainer {
	margin-left: 5%;
	margin-right: 5%;
}

.flipcard {
	perspective: 1000px;
	margin-bottom: 1.5rem;
}

.flipcard .flipcard-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flipcard .card-front, .flipcard .card-back {
	width: 100%;
	height: 100%;
	position: relative;
	backface-visibility: hidden;
	transition: all .3s;
}

.flipcard .card-front {
	z-index: 2;
}

.flipcard .card-front::after {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	bottom: -1px;
	right: -1px;
	border-width: 16px 16px 0 0;
	border-style: solid;
	border-color: #999 #fff;
	border-radius: .25rem 0 0 0;
}

.flipcard .card-back {
	position: absolute;
	top: 0;
	text-align: left;
	z-index: 1;
	transform: rotateY(180deg);
	overflow-y: auto;
}

.flipcard:hover .flipcard-wrap {
	transform: rotateY(-180deg);
}

div:nth-child(odd)>div>div>div.card.card-front>div.card-body-img {
	background-color: #e1cce1;
	/* #ffe0e5; */
	text-align: right;
}

div:nth-child(even)>div>div>div.card.card-front>div.card-body-img {
	background-color: #cdf5d4;
	text-align: right;
}

.greytextfont {
	color: #82817d;
}

i.fas.fa-comment {
	color: white;
	font-size: 58px;
	transform: scale(1.5, 1);
	margin-right: 10px;
}

.ethprice {
	position: absolute;
	right: 13px;
	top: 15px;
	font-size: 9px;
}

.fatherimg, .motherimg {
	margin-top: -20px;
	width: 60px;
	margin-bottom: 2px;
}
/*---------- buttons--------- */
.btn-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.btn-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

.btn-outline-primary:hover, .btn-outline-primary:active,
	.btn-outline-primary:visited {
	background-color: #b21bde !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
	{
	border-color: #de1bc4;
	background-color: #b21bde !important;
}

.btn-outline-primary {
	border-color: #b21bde;
	color: #b21bde;
}

.card-back-footer {
	bottom: 0px;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	i.fas.fa-comment {
		transform: scale(1.9, 2);
		margin-right: 20px;
		padding-top: 20px
	}
	.ethprice {
		top: 45px;
		font-size: 12px;
	}
}

/*--------------- nav --------------------- */
.navbar-custom {
	background-color: #ffffff;
	border: solid 0.2px #ededed;
	color: #ededed;
}

.navbar-custom .nav-item: hover {
	color: #b21bde;
}

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link
	{
	color: #ededed;
}

/*--------------- main page bkg --------------------- */
.mainpage-background {
	/* margin-top: -15px;  */
	background:
		url('https://cdn-images-1.medium.com/max/2600/1*3swNWJqRX7h47_gXvPEScQ.png')
		no-repeat center center;
	background-size: cover;
	height: 100vh;
	background-color: rgba(72, 72, 72, 0.4);
	background:
		url('https://cdn-images-1.medium.com/max/2600/1*3swNWJqRX7h47_gXvPEScQ.png')
		no-repeat center center;
}

.btn-create {
	height: 70px;
}

.main-create {
	position: relative;
	top: 200px;
	margin: 0 40px; 
	padding : 0 30px;
	border: 2px solid #b21bde;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 30px;
	left: 20px;
}

.formcreate {
	background-color: white;
	border: solid 1px #ededed;
}

#form-main {
	width: 100%;
	float: left;
	padding-top: 0px;
}

#form-div {
	background-color: rgba(72, 72, 72, 0.4);
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-top: 30px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

